altgraph==0.17
astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
dropbox==10.2.0
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
macholib==1.14
mccabe==0.6.1
modulegraph==0.18
mpmath==1.1.0
numpy==1.19.1
Pillow==7.2.0
py2app==0.21
pylint==2.5.3
requests==2.24.0
scipy==1.5.2
six==1.15.0
sympy==1.6.1
toml==0.10.1
tqdm==4.47.0
urllib3==1.25.9
wrapt==1.12.1
XlsxWriter==1.2.9
